@charset "UTF-8";

/* Tufte CSS styles */
html { font-size: 14px; }

body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(100vw - 87.5%);
  font-family:
      Optima,
      Candara,
      "Linux Biolinum",
      "Libertinus Sans",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Cantarell,
      "Helvetica Neue",
      Helvetica,
      Ubuntu,
      Roboto,
      "Oxygen-Sans",
      Noto,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  font-weight: var(--font-weight);
  max-width: 1400px;
  counter-reset: sidenote-counter;
  color: var(--color-body);
  background-color: var(--color-body-bg);
}

h1, h2, h3, h4, h5, h6, subtitle {
  font-family:
      Baskerville,
      Constantia,
      Georgia,
      "Droid Serif",
      "Times New Roman",
      "Source Serif Pro",
      serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  font-weight: bold;
  line-height: 1.35em;
}

h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 2.2rem; }

h2 { font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 1.8rem; }

h3 { font-weight: 400;
     font-size: 1.5rem;
     margin-top: 2rem;
     margin-bottom: 0; }

subtitle { font-style: italic;
           margin-top: -0.5rem;
           margin-bottom: 1rem;
           font-size: 1.2rem;
           display: block;
           line-height: 1; }

table { width: 98%;
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 1.4rem 1%;
        border-collapse: separate;
        border-spacing: 0 5px;
        -webkit-font-feature-settings: 'tnum'; /* This is technically redundant */
        -moz-font-feature-settings: 'tnum';
        -ms-font-feature-settings: 'tnum'; }

thead th { border-bottom: 1px solid #AAAAAA;
           font-weight: 400;
           border-collapse: separate;
           border-spacing: 5px 5px; }

td.text { text-align: left; }

span.table-label { padding-top: 8px; } /* to maintain height relative to table header row */

table.booktabs { width: auto;
                 margin: 0 auto;
                 border-spacing: 0px;
                 border-top: 2px solid #333333;
                 border-bottom: 2px solid #333333; }

.booktabs th { border-bottom: 1px solid #333333;
               padding: 0.65ex 0.5em 0.4ex 0.5em;
               font-weight: normal;
               text-align: center; }

.booktabs th.cmid { border-bottom: 1px solid #666666; }

.booktabs th.nocmid { border-bottom: none; }

.booktabs tbody tr:first-child td { padding-top: 0.65ex; } /* add space between thead row and tbody */ 

.booktabs td { padding-left: 0.5em;
               padding-right: 0.5em;
               text-align: left; }

.booktabs caption { font-size: 90%;
                    text-align: left;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1ex;
                    caption-side: top; }

.booktabs tbody tr td.l { text-align: left !important; }
.booktabs tbody tr td.c { text-align: center !important; }
.booktabs tbody tr td.r { text-align: right !important; }

main { position: relative;
          padding: 5rem 0rem; }

main h1 {
  margin-top: 4rem;
}

main p {
  font-size: 1.2rem;
}

main hr {
  width: 10rem;
  padding: 0;
  border: none;
  border-top: var(--line-weight) double var(--color-body);
  color: var(--color-body);
  text-align: center;
  margin-left: 22%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  overflow: visible; /* so that the :after doesn't get its top half cut off */
}

main hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--color-body-bg);
}

@media screen and (max-width: 760px) {
  main h1 {
    width: 100%;
  }
}

/*
section { padding-top: 1rem;
          padding-bottom: 1rem; }
*/

p, ol, ul { font-size: 1.4rem;
            line-height: 2rem; }

ul {
  font-size: 1.2rem;
}

ol {
  font-size: 1.2rem;
}

p { margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

blockquote p { font-size: 1.2rem;
               width: 95%;
            }

blockquote {
  border-left: var(--line-weight) solid var(--color-desc);
  padding-left: 1em;
}

blockquote footer {
  width: 100%;
  text-align: right;
}

strong {
  font-weight: bold;
}

ul { list-style-type: none; }

li { padding: 0.5rem 0; }

img.mached {
  width: 41px;
  height: 54px;
  padding-right: 1em;
}

figure {
  margin: 0 0 3em 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

figcaption {
    float: right;
    clear: right;
    margin-right: 18.5%;
    margin-bottom: 1em;
    font-size: 1.0rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
}

figure.fullwidth figcaption { margin-right: 24%; }

a { color: var(--color-active);
    text-decoration: none;
    border-bottom: var(--line-weight) solid var(--color-active);
    padding-bottom: 1px; }

a:hover, a:active {
  color: var(--color-hover);
}

img { max-width: 100%; margin-left: auto; margin-right: auto; display: block; }

.sidenote, .marginnote { float:right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 1em;
                         font-size: 1.0rem;
                         line-height: 1.6;
                         vertical-align: baseline;
                         position: relative; }

.table-caption { float:right;
                 clear:right;
                 margin-right: -60%;
                 width: 50%;
                 margin-top: 0;
                 margin-bottom: 0;
                 font-size: 1.0rem;
                 line-height: 1.6; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  color: var(--color-highlight);
}

.sidenote-number:after { content: counter(sidenote-counter); 
                         font-size: 0.9rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) ". ";
                   position: absolute;
                   /* 100% refers to the computed width of the number, so this transform
                    * shifts the number just outside the left edge of the sidenote box,
                    * with a buffer of 0.25rem, no matter how many digits the number has. */
                   -webkit-transform: translateX(-100%) translateX(-0.25rem);
                   -ms-transform: translateX(-100%) translateX(-0.25rem);
                   transform: translateX(-100%) translateX(-0.25rem); }

nav, .content,
main>p, article>*, main>footer,
div.sourceCode, div.figure, div footnotes, figure {
  width: 55%;
  max-width: 700px;
}

div.sourceCode pre {width: auto;}

.footnotes p {width: 100%;}

@media screen and (max-width: 760px) {
    p, footer, pre, pre.code, table,
    div.sourceCode, ol, ul,
    div.figure, .footnotes p, figure { width: 90%; }
    blockquote p, blockquote footer { width: 90%; }
    table.table-wrapper { width: 90%; }
}

pre, code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

pre { color: var(--color-body);
      background: var(--color-body-bg);
      padding: 1.4rem;
      margin: 0; }

.fullwidth { max-width: 95%; }

span.newthought { font-variant: small-caps;
                  font-size: 1.4em; }

span.boldnewthought {
  font-variant: small-caps;
  font-size: 1.3em;
  font-weight: bold;
}

img.hed {
  display: block;
  float: left;
  margin-right: 10px;
  /*margin-bottom: -10px;*/
  padding-top: 8px;
  max-width: 80px;
}

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media(max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; }
                           .sidenote { display: none; }
                           .marginnote { float: none; }
                           img.mached { width: 41px; height: 54px;}
                           #sidebar { width: 90%; display: block;}
                           footer { width: 90% !important; }
                           .margin-toggle:checked + .sidenote, 
                           .margin-toggle:checked + .marginnote { display: block;
                                                                  float: left;
                                                                  left: 1rem;
                                                                  clear: both;
                                                                  width: 95%;
                                                                  margin: 1rem 2.5%;
                                                                  vertical-align: baseline;
                                                                  position: relative; }
                           label { cursor: pointer; }
                           .table-caption { display: block;
                                            float: right;
                                            clear: both;
                                            width: 98%;
                                            margin-top: 1rem;
                                            margin-bottom: 0.5rem;
                                            margin-left: 1%;
                                            margin-right: 1%;
                                            vertical-align: baseline;
                                            position: relative; }
                           table, table.booktabs { width: 85%; }
                           img { width: 100%; } }

/* amendments */

.header {
  padding-top: 20px;
  /*margin-top: 20px;*/
  margin-top: 4rem;
  /*border-bottom: solid 1px #ddd;*/
  width: 50%;
  margin-bottom: 3rem;
}

@media screen and (max-width: 760px) {
  .header {
    width: 90%;
  }

  img.mached { width: 41px; height: 54px; }

  .content h1 {
    width: 85% !important;
  }
}

.splash p {
  width: 100%;
  font-size: 1.2rem;
}

.content {
  margin-bottom: 6rem;
}

main>footer {
  display: block;
  margin-top: 30px;
  width: 60%;
  border-top: solid var(--line-weight) var(--color-body);
  color: var(--color-desc);
  line-height: 2rem;
}

main>footer p {
  font-size: 1rem;
}

.loop-date {
  font-size: 1.2rem;
}

.sub-date {
  padding-bottom: 20px;
  font-size: 1.3rem;
}
