.audiojs audio
{
    position: absolute;
    left: -1px;
}

.audiojs
{
    margin: 0 auto;
    width: 100%;
    height: 26px;
    overflow: hidden;
    margin-bottom: 1em;
    background-color: var(--color-body-bg);
    font: 12px monospace;
    border: 1px solid var(--color-desc);
}

.audiojs:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}

.audiojs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

* html .audiojs {
    height: 1%;
}

.audiojs .play-pause
{
    width: 10%;
    padding-left: 5px;
    height: 24px;
    overflow: hidden;
}

.audiojs p
{
    width: 25px;
    height: 28px;
    margin: 0px;
    cursor: pointer;
}

.audiojs .play { background: url('../js/audiojs/player-graphics.gif') -2px -1px no-repeat; }
.audiojs .loading { background: url('../js/audiojs/player-graphics.gif') -2px -31px no-repeat; }
.audiojs .error { background: url('../js/audiojs/player-graphics.gif') -2px -61px no-repeat; }
.audiojs .pause { background: url('../js/audiojs/player-graphics.gif') -2px -91px no-repeat; }

.audiojs .scrubber
{
    position: relative;
    width: 60%;
    background: var(--color-body-bg);
    height: 14px;
    margin: 5px 0px;
    overflow: hidden;
    border: 1px dashed var(--color-desc);
}

.audiojs .progress
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: var(--color-desc);
    z-index: 1;
}

.audiojs .loaded
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background-color: var(--color-body-bg-highlight);
}

.audiojs .time
{
    height: 24px;
    line-height: 24px;
    margin: 0px auto;
    padding: 0;
    color: var(--color-desc);
    align-self: center;
}

.audiojs .time em
{
    padding: 0px 2px 0px 0px;
    color: var(--color-body);
    font-style: normal;
}

.audiojs .time strong
{
    padding: 0px 0px 0px 2px;
    color: inherit;
    font-weight: normal;
}

.audiojs .error-message
{
    display: none;
    margin: 0px 10px;
    height: 24px;
    width: 400px;
    overflow: hidden;
    line-height: 24px;
    white-space: nowrap;
    color: #fff;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.audiojs .error-message a
{
    color: var(--color-highlight);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color-desc);
    white-space: wrap;
}

.playing .play, .playing .loading, .playing .error
{
    display: none;
}

.playing .pause
{
    display: block;
}

.loading .play, .loading .pause, .loading .error
{
    display: none;
}

.loading .loading
{
    display: block;
}

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading
{
    display: none;
}

.error .error
{
    display: block;
}

.error .play-pause p
{
    cursor: auto;
}

.error .error-message
{
    display: block;
}
