/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bitter-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bitter Regular'), local('Bitter-Regular'),
       url('../fonts/bitter-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bitter-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bitter-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bitter-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bitter-v14-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/bitter-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Bitter Italic'), local('Bitter-Italic'),
       url('../fonts/bitter-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bitter-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bitter-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bitter-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bitter-v14-latin-italic.svg#Bitter') format('svg'); /* Legacy iOS */
}
