.sidebar-item {
    margin-left: 1em;
}

#adjacent-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    position: relative;
}

#older-post, #newer-post {
    display: flex;
    align-items: center;
}

#older-post {
    justify-content: flex-begin;
    text-align: left;
    margin-right: 2em;
}

#newer-post {
    justify-content: flex-end;
    text-align: right;
    margin-left: 2em;
}

.older-link {
    margin-left: 0.75em;
}

.newer-link {
    margin-right: 0.75em;
}

.arrow {
    font-size: 150%;
}

#post-tags {
    margin: 1em;
}
