#adjposts {
    margin: 1em;
    position: relative;
}

#prevpost, #nextpost {
    display: inline-block;
    width: 15.5em;
    /* Note: this works only because these are inline! */
    vertical-align: middle;
}

#prevpost {
    text-align: left;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-right: 1em;
}

#nextpost {
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 1em;
    padding-left: 0.5em;
    margin-left: 1em;
}

#prevpost a {
    margin-left: 0.5em;
}

#nextpost a {
    margin-right: 0.5em;
}
