#player {
    position: sticky;
    top: 60px;
    z-index: 2;
}

.small-clever-rooms {
    article {
        text-align: center;
    }
}

@media (min-width: 761px) {
    .small-clever-rooms {
        section>* {
            width: 55%;
        }
    }
}
