/* Noway Round */
@font-face {
    font-family: 'Noway Round';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/nowayround-regular-webfont.eot');
    src: local('Noway Round Regular'), local('NowayRound-Regular'),
         url('../fonts/nowayround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-regular-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-regular-webfont.woff') format('woff'),
         url('../fonts/nowayround-regular-webfont.ttf') format('truetype');
}

/* Noway Round Italic */
@font-face {
    font-family: 'Noway Round';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/nowayround-italic-webfont.eot');
    src: local('Noway Round Italic'), local('NowayRound-Italic'),
         url('../fonts/nowayround-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-italic-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-italic-webfont.woff') format('woff'),
         url('../fonts/nowayround-italic-webfont.ttf') format('truetype');
}

/* Noway Round Light */
@font-face {
    font-family: 'Noway Round';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nowayround-light-webfont.eot');
    src: local('Noway Round Light'), local('NowayRound-Light'),
         url('../fonts/nowayround-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-light-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-light-webfont.woff') format('woff'),
         url('../fonts/nowayround-light-webfont.ttf') format('truetype');
}

/* Noway Round Medium Italic */
@font-face {
    font-family: 'Noway Round';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/nowayround-lightitalic-webfont.eot');
    src: local('Noway Round Light Italic'), local('NowayRound-LightItalic'),
         url('../fonts/nowayround-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-lightitalic-webfont.woff') format('woff'),
         url('../fonts/nowayround-lightitalic-webfont.ttf') format('truetype');
}

/* Noway Round Bold */
@font-face {
    font-family: 'Noway Round';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/nowayround-bold-webfont.eot');
    src: local('Noway Round Bold'), local('NowayRound-Bold'),
         url('../fonts/nowayround-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-bold-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-bold-webfont.woff') format('woff'),
         url('../fonts/nowayround-bold-webfont.ttf') format('truetype');
}

/* Noway Round Bold */
@font-face {
    font-family: 'Noway Round';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/nowayround-bolditalic-webfont.eot');
    src: local('Noway Round Bold'), local('NowayRound-BoldItalic'),
         url('../fonts/nowayround-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nowayround-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nowayround-bolditalic-webfont.woff') format('woff'),
         url('../fonts/nowayround-bolditalic-webfont.ttf') format('truetype');
}
