/* Solarized Light for Pygments
  https://gist.github.com/scotu/1272660
*/

/* Background modified to match Small Clever Rooms */
.sourceCode { background-color: #fffef0 }
.sourceCode .c { color: #586E75 } /* Comment */
.sourceCode .err { color: rgb(37, 58, 107) } /* Error */
.sourceCode .g { color: rgb(37, 58, 107) } /* Generic */
.sourceCode .k { color: #859900 } /* Keyword */
.sourceCode .l { color: rgb(37, 58, 107) } /* Literal */
.sourceCode .n { color: rgb(37, 58, 107) } /* Name */
.sourceCode .o { color: #859900 } /* Operator */
.sourceCode .x { color: #CB4B16 } /* Other */
.sourceCode .p { color: rgb(37, 58, 107) } /* Punctuation */
.sourceCode .cm { color: #586E75 } /* Comment.Multiline */
.sourceCode .cp { color: #859900 } /* Comment.Preproc */
.sourceCode .c1 { color: #586E75 } /* Comment.Single */
.sourceCode .cs { color: #859900 } /* Comment.Special */
.sourceCode .gd { color: #2AA198 } /* Generic.Deleted */
.sourceCode .ge { color: rgb(37, 58, 107); font-style: italic } /* Generic.Emph */
.sourceCode .gr { color: #DC322F } /* Generic.Error */
.sourceCode .gh { color: #CB4B16 } /* Generic.Heading */
.sourceCode .gi { color: #859900 } /* Generic.Inserted */
.sourceCode .go { color: rgb(37, 58, 107) } /* Generic.Output */
.sourceCode .gp { color: rgb(37, 58, 107) } /* Generic.Prompt */
.sourceCode .gs { color: rgb(37, 58, 107); font-weight: bold } /* Generic.Strong */
.sourceCode .gu { color: #CB4B16 } /* Generic.Subheading */
.sourceCode .gt { color: rgb(37, 58, 107) } /* Generic.Traceback */
.sourceCode .kc { color: #CB4B16 } /* Keyword.Constant */
.sourceCode .kd { color: #268BD2 } /* Keyword.Declaration */
.sourceCode .kn { color: #859900 } /* Keyword.Namespace */
.sourceCode .kp { color: #859900 } /* Keyword.Pseudo */
.sourceCode .kr { color: #268BD2 } /* Keyword.Reserved */
.sourceCode .kt { color: #DC322F } /* Keyword.Type */
.sourceCode .ld { color: rgb(37, 58, 107) } /* Literal.Date */
.sourceCode .m { color: #2AA198 } /* Literal.Number */
.sourceCode .s { color: #2AA198 } /* Literal.String */
.sourceCode .na { color: rgb(37, 58, 107) } /* Name.Attribute */
.sourceCode .nb { color: #B58900 } /* Name.Builtin */
.sourceCode .nc { color: #268BD2 } /* Name.Class */
.sourceCode .no { color: #CB4B16 } /* Name.Constant */
.sourceCode .nd { color: #268BD2 } /* Name.Decorator */
.sourceCode .ni { color: #CB4B16 } /* Name.Entity */
.sourceCode .ne { color: #CB4B16 } /* Name.Exception */
.sourceCode .nf { color: #268BD2 } /* Name.Function */
.sourceCode .nl { color: rgb(37, 58, 107) } /* Name.Label */
.sourceCode .nn { color: rgb(37, 58, 107) } /* Name.Namespace */
.sourceCode .nx { color: rgb(37, 58, 107) } /* Name.Other */
.sourceCode .py { color: rgb(37, 58, 107) } /* Name.Property */
.sourceCode .nt { color: #268BD2 } /* Name.Tag */
.sourceCode .nv { color: #268BD2 } /* Name.Variable */
.sourceCode .ow { color: #859900 } /* Operator.Word */
.sourceCode .w { color: rgb(37, 58, 107) } /* Text.Whitespace */
.sourceCode .mf { color: #2AA198 } /* Literal.Number.Float */
.sourceCode .mh { color: #2AA198 } /* Literal.Number.Hex */
.sourceCode .mi { color: #2AA198 } /* Literal.Number.Integer */
.sourceCode .mo { color: #2AA198 } /* Literal.Number.Oct */
.sourceCode .sb { color: #586E75 } /* Literal.String.Backtick */
.sourceCode .sc { color: #2AA198 } /* Literal.String.Char */
.sourceCode .sd { color: rgb(37, 58, 107) } /* Literal.String.Doc */
.sourceCode .s2 { color: #2AA198 } /* Literal.String.Double */
.sourceCode .se { color: #CB4B16 } /* Literal.String.Escape */
.sourceCode .sh { color: rgb(37, 58, 107) } /* Literal.String.Heredoc */
.sourceCode .si { color: #2AA198 } /* Literal.String.Interpol */
.sourceCode .sx { color: #2AA198 } /* Literal.String.Other */
.sourceCode .sr { color: #DC322F } /* Literal.String.Regex */
.sourceCode .s1 { color: #2AA198 } /* Literal.String.Single */
.sourceCode .ss { color: #2AA198 } /* Literal.String.Symbol */
.sourceCode .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.sourceCode .vc { color: #268BD2 } /* Name.Variable.Class */
.sourceCode .vg { color: #268BD2 } /* Name.Variable.Global */
.sourceCode .vi { color: #268BD2 } /* Name.Variable.Instance */
.sourceCode .il { color: #2AA198 } /* Literal.Number.Integer.Long */

/* Other Pygments-specific customizations */
.highlighttable {
  margin-bottom:.8125em;
  border-collapse:collapse;
}
