body.small-clever-rooms {
    /* === Inline Text Styles === */

    .details {
        display: none;
        font-size: 10px;
        color: var(--color-highlight);
    }

    .content-container {
        line-height: 1.7em;
        margin: 1rem;
    }

    .content-container h2 {
        display: inline-block;
        font-size: 1.4rem;
    }

    .content-container p {
        display: block;
        font-size: 1.1rem;
        margin: 5px 5px 5px 12px;
        color: var(--color-body);
    }

    .content-container em,
    .content-container i {
        font-style: italic;
    }

    .content-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .content-item-title {
        margin-top: 0;
        margin-right: 1em;
    }

    .content-item-info {
        text-align: right;
        color: var(--color-desc);
    }

    blockquote {
        margin: 3px 0 3px 0;
        padding: 5px 10px 5px 10px;
    }

    .note {
        display: block;
        margin: 10px 15px 10px 15px;
        color: var(--color-desc);
    }

    .bold {
        font-weight: bold;
    }

    li ol,
    li ul {
        padding-left: 1em;
    }

    dt {
        margin-top: 0.5ex;
    }

    dd {
        padding-left: 1em;
    }
}
