/* rosario-regular - latin */
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rosario-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rosario'), local('Rosario-Regular'),
       url('../fonts/rosario-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rosario-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rosario-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rosario-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rosario-v13-latin-regular.svg#Rosario') format('svg'); /* Legacy iOS */
}

/* rosario-italic - latin */
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/rosario-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Rosario Italic'), local('Rosario-Italic'),
       url('../fonts/rosario-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rosario-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rosario-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rosario-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rosario-v13-latin-italic.svg#Rosario') format('svg'); /* Legacy iOS */
}

/* rosario-700 - latin */
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rosario-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Rosario Bold'), local('Rosario-Bold'),
       url('../fonts/rosario-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rosario-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rosario-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rosario-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rosario-v13-latin-700.svg#Rosario') format('svg'); /* Legacy iOS */
}
