#wrapper {
    margin: 10px auto;
}

#player {
    position: sticky;
    top: 60px;
    z-index: 2;
}

.playlist {
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: decimal outside;
}

h1.section-header {
    border-bottom: 1px solid var(--color-desc);
}

.song-section.album-section .playlist {
    border-top: none;
}

.playlist .track {
    margin: 0px;
    padding: 5px 2px 5px;
    cursor: pointer;
}

.track-content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

span.music-icons {
    cursor: s-resize default;
    flex-shrink: 0;
}

.song-icon {
    border-bottom: none;
}

.track.playing {
    color: var(--color-hover);
    list-style-type: '♬ ';
}

.track.playing a {
    color: var(--color-hover);
    border-bottom: none;
}

.album {
    display: flex;
    align-items: center;
    border: var(--line-weight) solid var(--color-active);
    margin-top: 4rem;
    margin-bottom: 1em;
}

.section-header {
    margin-bottom: 1rem;
}

.album:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

.album-cover {
    margin-left: 0;
    margin-right: 20px;
}

.album-title {
    display: inline;
    padding: 0;
}

.album-details {
    margin-top: 0.1ex;
    margin-bottom: 0;
    font-size: 85%;
}
