#wrapper {
    margin: 10px auto;
}

#player {
    position: sticky;
    top: 60px;
    z-index: 2;
}

.playlist {
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: decimal inside;
    border-top: 1px solid var(--color-desc);
}

.song_section.album_section .playlist {
    border-top: none;
}

.playlist li {
    position: relative;
    margin: 0px;
    padding: 5px 2px 5px;
    cursor: pointer;
}

.playlist li>a {
    margin-left: 3px;
}

.song-icon {
    border-bottom: none;
}

span.music_icons {
    right: 5px;
    position: absolute;
    cursor: s-resize default;
}

li.playing {
    color: var(--color-active);
}

li.playing a {
    color: var(--color-hover);
    border-bottom: none;
}

li.playing:before {
    content: '♬';
    width: 14px;
    height: 14px;
    padding: 3px;
    margin: 0px;
    position: absolute;
    left: -24px;
    top: 5px;
    color: var(--color-active);
    font-size: 1.2rem;
}

.album {
    display: flex;
    align-items: center;
    border: var(--line-weight) solid var(--color-active);
    margin-top: 4rem;
    margin-bottom: 1em;
}

.album:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

.album_cover {
    margin-left: 0;
    margin-right: 20px;
}

.album_title {
    display: inline;
    padding: 0;
}

.album_details {
    margin-top: 0.1ex;
    margin-bottom: 0;
}
